# Python
__pycache__/
*.py[cod]
*.pyo
.Python

# Virtual environment
venv*/
.venv/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Data (duże pliki nie idą na GitHub)
data/*.csv
data/*.gz
data/*.pkl

# IDE
.vscode/settings.json
.idea/

# OS
.DS_Store
Thumbs.db
